{
  "presets": [
    ["env", { "modules": false }],
    "stage-3"
  ],
  "plugins": [["component", 
    {
      "libraryName": "mint-ui",
      "style": true
    }
    ],
  ["transform-runtime",
    {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    "syntax-dynamic-import"
    ]
}
